* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:midnightblue;
  }
  
  .container {
    width: 80%;
    margin: auto;
  }
  
  nav {
    background-color: #333;
    padding: 1rem 0;
  }
  
  nav ul {
    list-style: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  section {
    padding: 20px;
  }
  
  section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
  }
  
  ul li {
    margin: 10px 0;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 20px;
  }